# --- Python & Django ---
__pycache__/
*.pyc
db.sqlite3
# No ignores las migraciones, son vitales para que otros corran tu código
!**/migrations/__init__.py 

# --- Entornos ---
venv/
.venv/
env/

# --- Media y Assets 
# Ignora todos los videos de prueba y miniaturas
media/
# Ignora archivos temporales de procesamiento de video
*.tmp
*.temp

# --- Logs de Sistema ---
*.log
# Logs específicos de FFmpeg si llegas a generarlos
ffmpeg_debug.txt

# --- IDEs ---
.vscode/
.idea/
.DS_Store